*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
/*CSS properties for container class*/
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: rgb(202, 153, 80);
    justify-content: center;
}
/*To design input field class*/
.input-box{
    width: 400px;
    max-width: 90%;
    position: relative;
}

/*Add CSS for the input field, gives gray color border to input box*/
.input-box input{
    height: 60px;
    width: 100%;
    padding: 0 20px;
    color: rgb(171, 218, 124);
    outline: none;
    background: transparent;
    border: 2px solid #c0b1b1;
}

/*CSS properties for button*/
button{
    border: 0;
    border-radius: 5px;
    position: absolute;
    background: transparent;
    top: 50%;
    outline: none;
    cursor: pointer;
    transform: translateY(-50%);
    right: 15px;
}
/*Change the size of the icon*/
button img{
    width: 35px;
}
/*CSS properties for  message id*/
#message{
    color: #fff;
    position: absolute;
    font-size: 15px;
    display: none;
    bottom: -30px;
}
/*increase size of placeholder*/
::placeholder{
    font-size: 15px;
}